.main-ler {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
}

.main-ler>div{
    width: 500px;
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
}

@media only screen and (max-width: 860px){
    .main-ler>div{
        max-width: 90%;
    }
}

