body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
    font-style: normal;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Para alinhar verticalmente ao centro */
    padding: 20px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav .logo {
    text-decoration: none;
    font-weight: bold;
    /* Deixe o texto do logo em negrito */
    color: black;
    font-size: 2rem;
}

nav>div>a {
    color: black;
    font-size: 1.2rem;
    margin-left: 10px;
}

nav>div>a:hover {
    border-bottom: 2px solid black;
}

.main-index {
    display: flex;
    justify-content: center;
}

.main-index>section {
    margin-top: 20vh;
}

.main-index>section>p {
    font-size: 2rem;
}

.section-index{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 10vh;
}

.section-index>a>i{
    font-size: 40px;
    color: #26B671;
}

.section-index>a>p{
    color: #26B671;
}

.section-index>a{
    margin-top: 10vh;
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
    border: 2px solid #26B671;
}

.section-index>a:hover>i,
.section-index>a:hover>p {
    color: white; /* Mudar a cor do texto para branco no hover */
}

.section-index>a:hover {
    background-color: #26B671; /* Mudar a cor de fundo para #26B671 no hover */
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px; /* Ajuste conforme necessário */
}

section .div-about {
    width: 70%;
}

section .div-about h2 {
    font-size: 2rem;
}

section .div-about h2 span {
    color: #FC0404;
}

section .div-about p {
    font-size: 1.2rem;
}

section .div-image {
    position: relative;
    display: block;
    width: 500px; /* Ajuste conforme necessário */
    margin-top: 5vh;
}

section .div-image img {
    width: 100%;
    height: auto;
    display: block;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    z-index: 100;
}

section .div-image::before {
    content: '';
    position: absolute;
    border-top-right-radius: 80px;
    border-bottom-left-radius: 80px;
    top: -23px; /* Ajuste a posição vertical como desejar */
    left: 30px; /* Ajuste a posição horizontal como desejar */
    width: 500px; /* A largura do pseudoelemento deve corresponder à da imagem */
    height: calc(100% + 1px); /* Ajustar conforme necessário para cobrir a altura da imagem */
    border: 2px solid #FC0404; /* Ajuste a cor e espessura da borda como desejar */
    box-sizing: border-box;
    z-index: -2;
}

#contato {
    background-color: #f9f9f9;
    padding: 50px 0;
  }

  .container {
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
  }

  .contato-info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .contato-item {
    margin: 0 20px;
    font-size: 18px;
  }

  .contato-item i {
    margin-right: 5px;
  }

  .contato-item a {
    color: #333;
    text-decoration: none;
  }

  .contato-text {
    margin-top: 20px;
    font-size: 20px;
  }

  .contato-text p {
    margin-bottom: 20px;
  }

  .contato-text a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }

@media only screen and (max-width: 860px) {
    nav .logo {
        font-size: 1rem;
    }

    nav>div>a {
        font-size: 0.7rem;
    }

    .main-index>section>p {
        font-size: 1rem;
    }

    section .div-about p {
        font-size: 0.8rem;
    }

    section .div-image{
        width: 240px;
    }

    section .div-image::before{
        width: 240px;
    }
}